# Directory created to archive old versions or conflicting local versions with new releases
ARCHIVE/**

# Matlab autosave files and folder display hidden files
**/*.asv
**/.DS_Store
**/*.mgrid
**/*.mat

# Except the fmh.mat file (3D head matrix)
!**/fmh.mat